<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vane</title>
</head>
<body>
    <h1>Vane Accessories</h1>
    <img src="static\image.jpg" alt="" height="320">
    <h2>About Vane</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci repudiandae amet distinctio sunt porro suscipit placeat consequatur excepturi enim, veniam voluptas cum possimus qui aspernatur mollitia eum reiciendis soluta officiis recusandae nisi id? Impedit quo aliquam porro nam totam. Architecto consectetur praesentium beatae et minus adipisci vel assumenda incidunt.</p>
    <h2>Our Pieces</h2>
    <p>TODO show jewerly here</p>
    <button>Back to top</button>
</body>
</html>