<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vane</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Vane Accessories</h1>
        <img class="img-fluid" id="banner" src="static\image.jpg" alt="">
        <h2>About Vane</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci repudiandae amet distinctio sunt porro suscipit placeat consequatur excepturi enim, veniam voluptas cum possimus qui aspernatur mollitia eum reiciendis soluta officiis recusandae nisi id? Impedit quo aliquam porro nam totam. Architecto consectetur praesentium beatae et minus adipisci vel assumenda incidunt.</p>
        <h2 class="text-center mt-2 mb-4">Our Pieces</h2>
        <p>TODO show jewelry here</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact us!</button>
            <p class="mt-4">Copyright 2023, VANE.</p>
        </div>
        
    </div>
    
</body>
</html>